@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,300,500,600|Plaster:400");



.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
